<div class="row justify-content-md-center">
  <div class="col col-lg-7">
    <div class="task">
      <%= check_box_tag '', 1, @ticket.is_completed, :onclick => "complete()", class: 'float-left task_status' %>
      <h2><%= @ticket.task %></h2>

      <p><%= @ticket.description %></p>
    </div>
    <div class="comments">
      
      <% @ticket.comments.each do |comment| %>
        <p class="comment"><%= comment.comment %></p>
      <% end %>
    </div>

    <div class="leave_a_comment">
      <h3>Leave a comment</h3>
      <div class="form-group">
        <textarea class="form-control"></textarea>
      </div>
      <a href="javascript:void(0);" class="btn btn-primary float-right">Post</a>
  </div>
</div>

<script type="text/javascript">
  function complete(){
    $.ajax({
      url : '/complete',
      type : "POST",
      data : {
        id : <%= @ticket.id %>,
        c : $(".task_status").is(":checked")
      },
      success : function(data){
        alert("good");
      }
    });
  }
</script>