<div class="row justify-content-md-center">
  <div class="col col-lg-7">
    <div class="task">
      <% if logged_in? %>
        <%= check_box_tag '', 1, @ticket.is_completed, :onclick => "complete()", class: 'float-left task_status' %>
      <% end %>
      <h2><%= @ticket.task %></h2>

      <p><%= @ticket.description %></p>
    </div>
    <div class="comments">
      
      <% @ticket.comments.each do |comment| %>

        <div class="comment_box" id="comment_<%= comment.id %>" data-id="<%= comment.id %>">
          <% if logged_in? %>        
            <a href="javascript:void(0);" onclick="delete_comment($(this));">X</a>
          <% end %>
          <div>
            <b class="author">
              <%= comment.user.firstname %>
            </b> 
            at 
            <span class="date">
              <%= localize(comment.created_at, :format => :long) %>
            </span>
          </div>
          <p class="comment"><%= comment.comment %></p>
        </div>
      <% end %>
    </div>

    <% if logged_in? %>
      <div class="leave_a_comment">
        <h3>Leave a comment</h3>
        <div class="form-group">
          <textarea class="form-control comment_text"></textarea>
        </div>
        <button class="btn btn-primary float-right" onclick="comment()">Post</button>
      </div>

      <div class="comment_box comment_box_clonable" style="display: none;">
        <div><b class="author"></b> at <span class="date"></span></div>
        <p class="comment"></p>
      </div>
    <% else %>
      <div>
        <p>Please log in to leave a comment</p>
      </div>
    <% end %>
</div>
<% if logged_in? %>
  <script type="text/javascript">
    function complete(){
      $.ajax({
        url : '/complete',
        type : "POST",
        data : {
          id : <%= @ticket.id %>,
          c : $(".task_status").is(":checked")
        },
        success : function(data){
        }
      });
    }
    function delete_comment(c){
      var c_id = $(c).parent().attr("data-id");
      $.ajax({
        url : '/comment/' + c_id,
        type : 'DELETE',
        success : function(data){
          $("#comment_" + c_id).remove();
        }
      })
    }

    function comment()
    {
      var c = $(".comment_text").val();
      $.ajax({
        url : '/comment',
        type : 'post',
        data : {
          comment : c,
          ticket_id : <%= @ticket.id %>
        },
        success : function(data){
          create_comment_box(data);
          $(".comment_text").val("");
        }
      })
    }

    function create_comment_box(data){
      var c_box = $(".comment_box_clonable").clone();
      c_box.removeClass("comment_box_clonable")
          .css("display", "block");

      c_box.attr("id", "comment_" + data.comment.id);
      c_box.attr("data-id", data.comment.id);
      c_box.find(".comment").html(data.comment.comment);
      c_box.find(".author").html(data.username);
      c_box.find(".date").html(data.date);
      $(".comments").append(c_box);
    }
  </script>
<% end %>